//
// Header
// ---------------------------------------------------------------------------

header {
  position: relative;
  background: #FFFFFF center center no-repeat;
  background-size: cover;
  color: #5A5A5A;
  
  .mainbar {
    padding: 20px;
    box-sizing: border-box;
  
    .logo{
      max-height: 100%;
      min-height: 100%;
      float: left;
      margin-right: 20px;
    }
    
    .qr {
      display: block;
      height: 100%;
      padding-left: 100%;
    }
    
    h1 {
      font-size: 240%;
      font-weight: 500;
      padding-bottom: 10px;
      line-height: 110%;
      @include transition(font-size .5s);
    }
    
    h2 {
      a {
        text-decoration: none;
        color: $main-color;
        font-size: 160%;
        @include transition(font-size .5s);
      }
    }
  }
  
  .sidebar {
    background: #bf1a25;
    color: #FFFFFF;
    
    div {
      position: relative;
      top: 50%;
      @include transform(translateY(-50%));
    }
    
    h3 {
      font-size: 500%;
      display: block;
      line-height: 100%;
      text-align: center;
      font-weight: 600;
      padding: 0px 20px 10px 20px;
      @include transition(font-size .5s);
    }
    
    p {
      font-size: 170%;
      text-align: center;
      color:rgba(255,255,255,0.8);
      @include transition(font-size .5s);
      
      strong {
        color: #FFF;
        font-weight: 600;
      }
    }
  }
}

@media screen and (min-width: 1900px) {
  header { 
    .mainbar { 
      padding: 30px;
    }
    .sidebar {
      h3 {
        padding: 0px 30px 20px 30px;
      }
    }
  }
}