//
// Overlay
// ---------------------------------------------------------------------------

.overlay {
  display: block;
  position: absolute;
  left: 0px; top: 0px;
  width: 100%; height: 100%;
  opacity: 0;
  
  .background {
    display: block;
    width: 100%; height: 100%;
    background: rgba(223,223,223, 0.9);
    opacity: 0;
    @include transition(all 1s);
    
    &.dark {
      background: rgba(0,0,0, 0);
    }
  }
  
  .window {
    position: absolute;
    top:50%; left: 50%;
    width: 40%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 10px 50px rgba(0,0,0,0.1);
    @include transform( translateX(-50%) translateY(-50%));
    
    &.large {
      width: 60%;
      
      header {
        padding: 3% 0;
    
        span {
          font-size: 120%;
        }
      }
    }
  }
  
  header {
    background: $main-color center center no-repeat;
    background: #bf1a25;
    background-size: cover;
    border-radius: 10px 10px 0 0;
    padding: 5% 0;
    font-size: 150%;
    color: #FFF;
    
    p {
      padding: 3% 0 2% 0;
      font-size: 300%;
      font-weight: 600;
      color: #FFF;
    }
  }
  
  .qoute {
    background: #FFF;
    padding: 7% 0;
    text-align: center;
    
    p {
      color: #5A5A5A;
      font-size: 180%;
      font-weight: 700;
      padding: 0 0 3% 0;
    }
    
    span {
      color: #979797;
      font-size: 150%;
    }
  }
  
  .thank-you {
    background: #FFF;
    padding: 5% 0;
    text-align: center;
    border-radius: 0 0 10px 10px;
    border-top: 1px solid #DDD;
    font-style: italic;
    color: $main-color;
    font-size: 140%;
    font-weight: 300;
  }
  
  .winner {
    padding: 6% 0 7% 0;
    background: #FFF;
    border-radius: 0 0 10px 10px;
    
    h3 {
      font-size: 460%;
      font-weight: 300;
      padding-bottom: 5%;
    }
    
    h4 {
      font-size: 350%;
      color: #999;
    }
  }
  
  &.show {
    z-index: 999999;
    opacity: 1;
    
    .background {
      opacity: 1;
    }
  }
  
  &.animate-in {
    
    .window {
      top: 150%;
      -webkit-animation: slide-in 0.8s forwards;
    }
  }
  
  &.animate-out {
    .window {
      top: 50%;
      -webkit-animation: slide-out 0.8s forwards;
    }
  }
}

@-webkit-keyframes slide-in {
  0% {
    top: 150%;
  }
  100% {
    top: 50%;
  }
}

@-webkit-keyframes slide-out {
  0% {
    top: 50%;
  }
  100% {
    top: -50%;
  }
}