//
// Progressbar
// ---------------------------------------------------------------------------

.progress-bar {
  display: block;
  position: absolute;
  right: 0%; top: 0%;
  width: 2%; height: 87.15%;
  background: #FFF;
  
  div {
    position: absolute;
    bottom:0px; left: 15%;
    width: 70%; height: 0%;
    background: $main-color;
    @include transition(height 5s);
  }
}
