//
// Variables
// ---------------------------------------------------------------------------

$main-color:        #f5e56a;

$text-color:        #313131;
$text-light-color:  #A9A9A9;

$bg-color:          #FFFFFF;
$bg-alt-color:      #F5F5F5;

$border-color:       #DEDEDE;