//
// Fonts
// ---------------------------------------------------------------------------

// Roboto
// ------

@import url(//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic);
$roboto: 'Roboto', sans-serif;


// Icons

@font-face {
	font-family: 'icons';
	src:url('../fonts/icomoon.eot?-b7k2oh');
	src:url('../fonts/icomoon.eot?#iefix-b7k2oh') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-b7k2oh') format('truetype'),
		url('../fonts/icomoon.woff?-b7k2oh') format('woff'),
		url('../fonts/icomoon.svg?-b7k2oh#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'icons';
	font-style: normal;
	font-weight: normal;
}